build/
build/temp.linux-x86_64-3.9/keygen.o
build/temp.linux-x86_64-3.9/module.o
build/temp.linux-x86_64-3.9/pqclean.o
build/temp.linux-x86_64-3.9/randombytes.o
build/temp.linux-x86_64-3.9/rng.o
build/temp.linux-x86_64-3.9/sha2.o
build/temp.linux-x86_64-3.9/sign.o
build/temp.linux-x86_64-3.9/vrfy.o
dist/*
src/tdc_falcon.egg-info/dependency_links.txt
src/tdc_falcon.egg-info/PKG-INFO
src/tdc_falcon.egg-info/SOURCES.txt
src/tdc_falcon.egg-info/top_level.txt
